name: webcitas
services:
  mysql:
    image: mysql:8.0
    env_file:
      - ./.env
    volumes:
      - mysql_data:/var/lib/mysql
      - ./backend/database/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - 3306:3306
volumes:
  mysql_data: